# See https://help.github.com/ignore-files/ for more about ignoring files.

# passages
/passages/*
!/passages/_globalStyles/
!/passages/start/

# footers
/footers/*
!/footers/.gitkeep

# headers
/headers/*
!/headers/.gitkeep

# plugins
/plugins/*
!/plugins/debug
!/plugins/debug/debug.tsx

# dependencies
/node_modules/

# testing
/coverage/

# production
/build*/
/.zips/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*
