@import '../../../passages/_global-styles/built-ins.less';

.card {
  background-color: $background-color;
}

.header {
  padding: $space-med $space-med 0 $space-med;
}

.content:last-child:first-child {
  padding-bottom: 16px;
}
