/**
 * This is a Sass file written in the SCSS flavor. Sass allows a whole host of
 * extra functionalities relative to CSS, including variables, inheritance,
 * functions, and math. This is automatically compiled into minified CSS and a
 * source map and injected into the story HTML.
 * @see https://sass-lang.com
 */

/**
 * Accelerator is configured to use CSS Modules. Ordinarily, a CSS class you
 * define (e.g. .foo) will affect every element with that class
 * (e.g. <a class="foo"></a>). With CSS Modules, variables are local to the
 * file in which they are imported, unless the author indicates otherwise.
 * The .rewindButton class below has an example of this. 
 * @see https://github.com/css-modules/css-modules
 */

/**
 * Reuse the link style from the built in styles for the example.
 * @see /src/passages/builtInStyles.scss
 */
@import '../../src/passages/styles.scss';

/* Variables can be defined (and shared through imports elsewhere) as any
 * CSS value. */
$space-sm: 6px;
$space-med: 10px;
/* You can use math expressions in SCSS files too. */
$space-lg: $space-med * 3;

$image-width: 250px;
$max-image-width: 80%;

.sample-passage {
  padding: $space-med;
}

.link {
  display: block;
  margin: 0 auto $space-lg auto;
}

.image {
  display: block;
  width: $image-width;
  max-width: $max-image-width;
  margin: 0 auto $space-lg auto;
}

.button {
  margin: 0 auto $space-med auto;
  background: #fff;
  padding: $space-sm;
  border: 2px outset #bbb;
  font: inherit;
  color: #000;

  /* This class is nested, and will compile to .button .counter. */
  .counter {
    margin-bottom: $space-lg;
  }
}

.paragraph {
  margin: 0 0 $space-lg 0;
}

.cycleVar {
  display: block;
  margin-top: $space-med;
}

/* Use the globally defined classes of the navigation buttons and one of the
 * built-in style mixins. */
:global(.navigationButton) {
  @include link;
}
