/**
 * This is a Sass file written in the SCSS flavor. Sass allows a whole host of
 * extra functionalities relative to CSS, including variables, inheritance,
 * functions, and math. This is automatically compiled into minified CSS and a
 * source map and injected into the story HTML.
 * @see https://sass-lang.com
 */

/**
 * @see https://github.com/css-modules/css-modules
 * Accelerator is configured to use CSS Modules. Ordinarily, a CSS class you
 * define (e.g. .foo) will affect every element with that class
 * (e.g. <a class="foo"></a>). With CSS Modules, variables are local to the
 * file in which they are imported, unless the author indicates otherwise.
 * The .rewindButton class below has an example of this.
 *
 * If you'd like to opt out of CSS Modules functionality, give your style
 * files the suffix `.nomodule.css`, e.g. `passage.nomodule.css`, or change
 * the build configuration so that modularization is off by default.
 */

/* Variables can be defined (and shared through imports elsewhere) as any
 * CSS value. */
$space-sm: 6px;
$space-med: 10px;
/* You can use math expressions in SCSS files too. */
$space-lg: $space-med * 3;

$image-width: 250px;
$max-image-width: 80%;

.sample-passage {
  padding: $space-med;
}

:global(.link) {
  display: block;
  margin: 0 auto $space-lg auto;
}

.image {
  display: block;
  width: $image-width;
  max-width: $max-image-width;
  margin: 0 auto $space-lg auto;
}

.button {
  margin: 0 auto $space-med auto;

  /* This class is nested, and will compile to .button .counter. */
  .counter {
    margin-bottom: $space-lg;
  }
}

.cycleVar {
  display: block;
  margin-top: $space-med;
}
